<a href="https://colab.research.google.com/github/pedromsoares/Curso_EBA/blob/main/Notebooks/M%C3%B3dulo_Extra_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS

## Imoprta as bibliotecas

In [1]:
import pandas as pd

In [3]:
from google.colab import drive

## Carregar os datasets

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Curso EBA/Pandas/top10s.csv', encoding='ISO-8859-1')

In [8]:
df2 = pd.read_csv('/content/drive/MyDrive/Curso EBA/Datasets/SpotifyTopSongsByCountry - May 2020.csv', encoding='ISO-8859-1')

### Informações sobre o Dataset 1

In [9]:
df.head() #Exibe as 5 primeiras linhas do dataset

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [10]:
df.tail() #Exibe as 5 ultimas linhas do dataset

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
598,599,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop,2019,104,66,61,-7,20,16,176,1,3,75
599,600,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,601,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,602,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,603,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

In [12]:
df.info() #Exibe informações básicas sobre o dataset (Nome das variáveis, Contagem de valores não nulos e Tipo de variáveis)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  603 non-null    int64
 1   title       603 non-null    object
 2   artist      603 non-null    object
 3   top genre   603 non-null    object
 4   year        603 non-null    int64
 5   bpm         603 non-null    int64
 6   nrgy        603 non-null    int64
 7   dnce        603 non-null    int64
 8   dB          603 non-null    int64
 9   live        603 non-null    int64
 10  val         603 non-null    int64
 11  dur         603 non-null    int64
 12  acous       603 non-null    int64
 13  spch        603 non-null    int64
 14  pop         603 non-null    int64
dtypes: int64(12), object(3)
memory usage: 70.8+ KB

### Informações sobre o Dataset 2

In [13]:
df2.head()

,Country,Continent,Rank,Title,Artists,Album,Explicit,Duration
0,Global,Global,1,Rain On Me (with Ariana Grande),"Lady Gaga, Ariana Grande",Rain On Me (with Ariana Grande),0,3:02
1,Global,Global,2,Blinding Lights,The Weeknd,After Hours,0,3:20
2,Global,Global,3,ROCKSTAR (feat. Roddy Ricch),"DaBaby, Roddy Ricch",BLAME IT ON BABY,1,3:01
3,Global,Global,4,Roses - Imanbek Remix,"SAINt JHN, Imanbek",Roses (Imanbek Remix),1,2:56
4,Global,Global,5,Toosie Slide,Drake,Dark Lane Demo Tapes,1,4:07

In [14]:
df2.tail()

,Country,Continent,Rank,Title,Artists,Album,Explicit,Duration
3145,Vietnam,Asia,46,ÄÃ Tá»ªNG LÃ,VÅ©.,ÄÃ Tá»ªNG LÃ,0,4:20
3146,Vietnam,Asia,47,MÆ°á»£n RÆ°á»£u Tá» TÃ¬nh,"BigDaddy, Emily",MÆ°á»£n RÆ°á»£u Tá» TÃ¬nh,0,3:18
3147,Vietnam,Asia,48,NgÃ y Táº­n Tháº¿,"TÃ³c TiÃªn, Da LAB, Touliver",NgÃ y Táº­n Tháº¿,0,3:52
3148,Vietnam,Asia,49,Äi Äu ÄÆ°a Äi,Bich Phuong,Äi Äu ÄÆ°a Äi,0,3:40
3149,Vietnam,Asia,50,Blinding Lights,The Weeknd,After Hours,0,3:20

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    3150 non-null   object
 1   Continent  3150 non-null   object
 2   Rank       3150 non-null   int64
 3   Title      3150 non-null   object
 4   Artists    3150 non-null   object
 5   Album      3150 non-null   object
 6   Explicit   3150 non-null   int64
 7   Duration   3150 non-null   object
dtypes: int64(2), object(6)
memory usage: 197.0+ KB

### Mostrar apenas colunas por tipo de variável

In [16]:
df.select_dtypes(include='int64') #Exibe apenas as colunas com variáveis do tipo 'int64'

     Unnamed: 0  year  bpm  nrgy  dnce  dB  live  val  dur  acous  spch  pop
0             1  2010   97    89    67  -4     8   80  217     19     4   83
1             2  2010   87    93    75  -5    52   64  263     24    23   82
2             3  2010  120    84    76  -3    29   71  200     10    14   80
3             4  2010  119    92    70  -4     8   71  295      0     4   79
4             5  2010  109    84    64  -5     9   43  221      2     4   78
..          ...   ...  ...   ...   ...  ..   ...  ...  ...    ...   ...  ...
598         599  2019  104    66    61  -7    20   16  176      1     3   75
599         600  2019   95    79    75  -6     7   61  206     21    12   75
600         601  2019  136    76    53  -5     9   65  260      7    34   70
601         602  2019  114    79    60  -6    42   24  217      1     7   69
602         603  2019  150    44    70  -9    13   23  213      6     6   67

[603 rows x 12 columns]

In [17]:
df.select_dtypes(include='object') #exibe apenas as colunas com variáveis do tipo 'object'

,title,artist,top genre
0,"Hey, Soul Sister",Train,neo mellow
1,Love The Way You Lie,Eminem,detroit hip hop
2,TiK ToK,Kesha,dance pop
3,Bad Romance,Lady Gaga,dance pop
4,Just the Way You Are,Bruno Mars,pop
...,...,...,...
598,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop
599,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop
600,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop
601,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop
602,Kills You Slowly,The Chainsmokers,electropop

### Trazer uma descrição estatística básica dos valores numéricos

In [19]:
df.describe() #Exibe uma estatística básica do Dataset

,Unnamed: 0,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000
mean,302.000000,2014.592040,118.545605,70.504146,64.379768,-5.578773,17.774461,52.225539,224.674959,14.326700,8.358209,66.520730
std,174.215384,2.607057,24.795358,16.310664,13.378718,2.798020,13.102543,22.513020,34.130059,20.766165,7.483162,14.517746
min,1.000000,2010.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,134.000000,0.000000,0.000000,0.000000
25%,151.500000,2013.000000,100.000000,61.000000,57.000000,-6.000000,9.000000,35.000000,202.000000,2.000000,4.000000,60.000000
50%,302.000000,2015.000000,120.000000,74.000000,66.000000,-5.000000,12.000000,52.000000,221.000000,6.000000,5.000000,69.000000
75%,452.500000,2017.000000,129.000000,82.000000,73.000000,-4.000000,24.000000,69.000000,239.500000,17.000000,9.000000,76.000000
max,603.000000,2019.000000,206.000000,98.000000,97.000000,-2.000000,74.000000,98.000000,424.000000,99.000000,48.000000,99.000000

### Realizar verificação dos valores únicos de uma coluna

In [20]:
df['artist'].unique() #Retrona os valores únicos, sem repetição, da coluna selecionada

array(['Train', 'Eminem', 'Kesha', 'Lady Gaga', 'Bruno Mars',
       'Justin Bieber', 'Taio Cruz', 'OneRepublic', 'Alicia Keys',
       'Rihanna', 'Flo Rida', 'Mike Posner', 'Far East Movement', 'Usher',
       'Sean Kingston', 'The Black Eyed Peas', 'Adam Lambert', 'Maroon 5',
       'Neon Trees', 'Selena Gomez & The Scene', 'Enrique Iglesias',
       'Katy Perry', 'Britney Spears', '3OH!3', 'David Guetta',
       'Christina Aguilera', 'Florence + The Machine', 'Shakira',
       'Tinie Tempah', 'T.I.', 'Martin Solveig', 'Christina Perri',
       'Adele', 'Pitbull', 'Beyoncé', 'Hot Chelle Rae', 'Avril Lavigne',
       'Kanye West', 'LMFAO', 'Jessie J', 'Jennifer Lopez', 'Chris Brown',
       'Sleeping At Last', 'Nicki Minaj', 'P!nk', 'Coldplay',
       'One Direction', 'Taylor Swift', 'Carly Rae Jepsen',
       'Kelly Clarkson', 'Owl City', 'The Wanted', 'fun.',
       'Ellie Goulding', 'Gym Class Heroes', 'Avicii', 'The Script',
       'Miley Cyrus', 'Swedish House Mafia', 'Daft Punk', 'James Arthur',
       'Robin Thicke', 'Demi Lovato', 'Zedd', 'Lana Del Rey',
       'Calvin Harris', 'Drake', 'Sara Bareilles',
       'Macklemore & Ryan Lewis', 'Labrinth', 'Ne-Yo', 'Ariana Grande',
       'Justin Timberlake', 'will.i.am', 'Icona Pop', 'Fergie',
       'Little Mix', 'Emeli Sandé', 'Selena Gomez', 'Austin Mahone',
       'Jonas Brothers', 'Mariah Carey', 'Ciara', 'Jewel',
       'Kelly Rowland', 'John Legend', 'Sam Smith', 'Pharrell Williams',
       'MAGIC!', 'Passenger', 'Bastille', 'Lorde', 'John Newman',
       'Disclosure', 'Michael Jackson', '5 Seconds of Summer',
       'Iggy Azalea', 'Jason Derulo', 'The Chainsmokers', 'Birdy',
       'A Great Big World', 'Sia', 'Charli XCX', 'Lily Allen',
       'Lea Michele', 'Ed Sheeran', 'The Weeknd', 'Mark Ronson', 'Hozier',
       'Shawn Mendes', 'Mr. Probz', 'Zara Larsson', 'Fifth Harmony',
       'Clean Bandit', 'Meghan Trainor', 'Nick Jonas', 'Paloma Faith',
       'Olly Murs', 'Naughty Boy', 'Alessia Cara', 'Sigala', 'Rudimental',
       'Lost Frequencies', 'Robin Schulz', 'Lilly Wood and The Prick',
       'Wiz Khalifa', 'Alesso', 'Madonna', 'Gwen Stefani', 'Jess Glynne',
       'Hilary Duff', 'Ricky Martin', 'Jennifer Hudson', 'DNCE',
       'Martin Garrix', 'Lukas Graham', 'G-Eazy', 'Hailee Steinfeld',
       'BØRNS', 'Major Lazer', 'MØ', 'Tove Lo', 'ZAYN', 'Bebe Rexha',
       'Snakehips', 'Missy Elliott', 'Years & Years', 'Charlie Puth',
       'Janet Jackson', 'Joey Montana', 'Nelly Furtado', 'DJ Snake',
       'Kygo', 'DJ Khaled', 'Luis Fonsi', 'Camila Cabello', 'Jonas Blue',
       'CNCO', 'Cardi B', 'Alan Walker', 'Liam Payne', 'Niall Horan',
       'Cashmere Cat', 'Galantis', 'Dua Lipa', 'Silk City', 'Marshmello',
       'Halsey', 'Troye Sivan', 'Dan + Shay', 'Rita Ora', 'Harry Styles',
       'Ansel Elgort', 'J Balvin', 'N.E.R.D', 'Hayley Kiyoko', 'RedOne',
       'Lewis Capaldi', 'SHAED', 'Lizzo', 'Mabel', 'Khalid', 'R3HAB',
       'Daddy Yankee'], dtype=object)

In [21]:
df['artist'].nunique() #Retorna a contagem de valores únicos da variável

184

In [22]:
df.memory_usage() #Retorna a quantidade de memória utilizada por cada coluna

Index          128
Unnamed: 0    4824
title         4824
artist        4824
top genre     4824
year          4824
bpm           4824
nrgy          4824
dnce          4824
dB            4824
live          4824
val           4824
dur           4824
acous         4824
spch          4824
pop           4824
dtype: int64

### Saber os maiores e menores valores de uma coluna

In [23]:
df.nsmallest(3, 'nrgy') #Retorna os 3 menores valores da coluna 'nrgy'

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
442,443,Million Years Ago,Adele,british soul,2016,0,0,0,-60,0,0,227,0,0,0
431,432,Start,John Legend,neo mellow,2016,110,4,52,-15,9,26,310,99,4,47
255,256,Not About Angels,Birdy,neo mellow,2014,116,14,41,-10,9,23,190,97,4,56

In [24]:
df.nlargest(3, 'nrgy') #Retorna os 3 maiores valores da coluna 'nrgy'

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
50,51,Hello,Martin Solveig,big room,2010,128,98,67,-3,10,45,191,1,3,0
198,199,Pom Poms,Jonas Brothers,boy band,2013,148,98,68,-2,28,90,198,7,9,52
134,135,Don't Stop the Party (feat. TJR),Pitbull,dance pop,2012,127,96,72,-4,38,95,206,1,9,59

## Algumas operações com datasets

In [25]:
df_nodup = df.drop_duplicates(subset=['title'], keep='last') #Cria um novo dataframe, excluíndo os valores duplicados e mantendo apenas o mais atual

In [26]:
display(df_nodup)

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
5,6,Baby,Justin Bieber,canadian pop,2010,65,86,73,-5,11,54,214,4,14,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,599,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop,2019,104,66,61,-7,20,16,176,1,3,75
599,600,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,601,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,602,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,603,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67